/*


TOC:
a. General Styles
b. Header Styles
c. About Section
d. Resume Section
e. Portfolio Section
f. Footer Section

 */

@import font-family: 'Playfair Display',
serif;

@import font-family: 'Roboto Condensed', sans-serif;

@font-face {
    font-family: 'Road Rage';
    src: url('../fonts/RoadRage.eot');
    src: local('Road Rage'), local('RoadRage'),
        url('../fonts/RoadRage.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RoadRage.woff') format('woff'),
        url('../fonts/RoadRage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}
hr {
    background-color:#398eb2;
    border: none;
    height: 2px;
    width: 75%;
}


/* ------------------------------------------------------------------ */

/*PRELOADER*/
#hellopreloader>p {
    display: none;
}

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #4183D7 url(http://hello-site.ru//main/images/preloads/spinning-circles.svg) center center no-repeat;
    background-size: 41px;
}
/*PRELOADER*/


/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../img/63441.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}


/* vertically center banner section */

header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}

header .banner-text h1 {
    font: 90px/1.1em 'Road Rage';
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
    font: 24px/1.7em 'Roboto Condensed', sans-serif;
    color: #000;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: #000;
}


/* scrolldown link */

header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
    color: #F06000;
}


/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


/* nav-wrap */

#nav-wrap {
    font: 12px 'Playfair Display', serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    box-shadow: none;
}

.opaque {
    background-color: #333;
}


/* hide toggle button */

#nav-wrap>a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}


/* Links */

ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #903900;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul#nav li a:hover {
    color: #F06000;
}


/* ------------------------------------------------------------------ */


/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #222222;
    padding-top: 40px;
    padding-bottom: 66px;
    overflow: hidden;
}

#about a,
#about a:visited {
    color: #fff;
}

#about h1 {
    font: 35px/1.2em 'Roboto Condensed', sans-serif;
    color: #006bbd;
    
}

#about h2 {
    font: 33px/1.9em 'Roboto Condensed', sans-serif;
    color: #ff9800;
    margin-bottom: 12px;
}

#about p {
    font: 18px/1.9em 'Roboto Condensed', sans-serif;
    line-height: 30px;
    color: #fff;
}

#about .profile-pic {
    
    margin-top: 40px;
    position: relative;
    border: 1px solid #000;
    border-radius: 40px;
    /*
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
*/
}
#about #aboutMe {
    margin-top: 80px;
    border-left: 4px solid #398eb2;
}

#about #aboutMe h1 span {
    color: #81c8ee;
}

#about .main-col {
    padding-right: 5%;
    color: #000;
}

#about .main-col h3 {
    font: 25px/1.5em 'Roboto Condensed', sans-serif;
    color: #3288ca;
    
}

#about .main-col .bars h3 {
    padding: 15px;
}

#about #skills span {
    color: #81c8ee;
}
#about #skills h1 {
    padding: 10px;
}
#about #technologies h1 span {
    color: #81c8ee;
}

#about #technologies h1 {
    margin-top: 33px;
    margin-bottom: 0;
}

#about #technologies h3 {
    font: 25px/1.5em 'Roboto Condensed', sans-serif;
    color: #3288ca;
    margin-top: 0;
}

#about #skills h3 {
    font: 25px/1.5em 'Roboto Condensed', sans-serif;
    color: #fff;
    margin: 0;
}

#about #progress h1 span {
    color: #81c8ee;
}


/* ------------------------------------------------------------------ */


/* d. Resume Section
/* ------------------------------------------------------------------ */

/* -----------------------------------------------
                        PARALLAX
------------------- */
.pimg1{
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* 
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("../img/pexels-photo-295047.png");
    min-height: 100%;
}
/* ------------------------------------------------------------------ */

#resume {
/*    background: #fff;*/
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#resume a,
#resume a:visited {
    color: #11ABB0;
}

#resume a:hover,
#resume a:focus {
    color: #313131;
}

#resume h1 {
    font: 18px/24px 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#resume h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

#resume h3 {
    font: 25px/30px 'Roboto Condensed', sans-serif;
}

#resume .header-col {
    padding-top: 9px;
}

#resume .main-col {
    padding-right: 10%;
}

.education,
.work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #323232;
}

#resume .info {
    font: 16px/24px 'Playfair Display', serif;
    color: #323232;
    margin-bottom: 18px;
    margin-top: 9px;
}

#resume .info span {
    margin-right: 5px;
    margin-left: 5px;
}

#resume .date {
    font: 15px/24px 'Playfair Display', serif;
    margin-top: 6px;
}


/*----------------------------------------------*/


/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
}

#portfolio h1 {
    font: 15px/24px 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}

#portfolio h4 {
    font: 20px 'Playfair Display', serif;
    text-align: center;
}

/* f. Footer Section
/* ------------------------------------------------------------------ */


#footer h2,
#footer span{
    color: #fff;
}